
@{
    ViewData["Title"] = "Sign Up";
    Layout = null;
}
<head>
    <link href="/Content/User/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="register-form">
                <input type="text" placeholder="email" name="email" />
                <input type="password" placeholder="password" name="password"/>
                <input type="password" placeholder="re-password" name="repassword"/>
                <input type="submit" value="Sign Up" style="background-color: #4CAF50" />
                <p class="message">Already registered? <a href="/login">Sign In</a></p>
            </form>
        </div>
    </div>

</body>
